.center-cols > .col {
     float:none; /* disable the float */
     display: inline-block; /* make blocks inline-block */
     text-align: initial; /* restore text-align to default */
 }

img{
    width:100%;
    background: rgba(0, 0, 0, 0.5);
}

.card-image{
    height: 300px; /* Your height here */
    overflow: hidden;
}

.card .card-title{
    font-size: 20px;
}

@media only screen and (max-width: 768px) {

    .card-image{
        height: 200px; /* Your height here */
        overflow: hidden;
    }
}

@media only screen and (max-width: 320px) {
    .card-image{
        height: 200px; /* Your height here */
        overflow: hidden;
    }
}
